/*========= Abstract =======*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "SF Pro Display";
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF Pro Displayd";
  src: url(/fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: "SF Pro Regulard";
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
} /*========= Components =======*/
/*====== BUTTON ===========*/
.btn {
  width: 180px;
  height: 64px;
  text-align: center;
  color: #FFFFFF;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.blue {
  background: #5468E7;
}

.black {
  background-color: #232340;
}

/*========== PARAGRAPH ==========*/
p {
  font-family: "SF Pro Display";
  color: #8B8B8B;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

h5,
li {
  font-family: "SF Pro Display";
  color: #8B8B8B;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

/*============ TITLE =============*/
.subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

.h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.container_main {
  width: 1195px;
  margin: auto;
}

header {
  background-image: url(/images/section1/background.png);
  background-repeat: no-repeat;
}
header .navbar {
  width: 1296px;
  height: 64px;
  margin: auto;
  padding-top: 64px;
}
header .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar nav img {
  height: 40px;
}
header .navbar nav ul {
  display: flex;
  gap: 64px;
  margin-left: 293px;
  margin-right: 272px;
}
header .navbar nav ul li {
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
header .navbar nav ul li:last-child::after {
  content: url(/images/notification-blue.svg);
  position: relative;
  left: 55px;
  bottom: 40px;
  width: 0;
  height: 0;
}
header .navbar nav ul li a {
  text-decoration: none;
  transition: 0.3s;
}
header .navbar nav ul li:nth-child(odd) a {
  color: #606060;
}
header .navbar nav ul li:nth-child(even) a {
  color: #8B8B8B;
}
header .navbar nav ul li:hover a {
  color: #5468E7;
}

.section_container_standout {
  margin-top: 94px;
}
.section_container_standout .section_standout {
  display: flex;
  justify-content: space-between;
}
.section_container_standout .section_standout .div_scrolldown {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 110px;
  margin-bottom: 80px;
}
.section_container_standout .section_standout .section_img_computer .img_computer1 {
  width: 924px;
  height: 660px;
}
.section_container_standout .section_standout_text h1 {
  width: 467px;
  height: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -1px;
  color: #232340;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section_container_standout .section_standout_text .introduction {
  margin-top: 40px;
  margin-bottom: 48px;
  width: 367px;
  height: 96px;
}

.section_standout_text {
  width: 15%;
}

.section_img_computer {
  width: 75%;
}

.section_who_we_are {
  background-image: url(/images/section2/background.png);
  background-size: cover;
  color: white;
  height: 1710px;
}

.container_who_we_are_01 {
  display: flex;
  align-items: center;
  padding-top: 128px;
}
.container_who_we_are_01 .logoicon {
  margin-right: 176px;
}
.container_who_we_are_01 ol {
  display: flex;
  gap: 24px;
}
.container_who_we_are_01 ol li {
  color: #8B8B8B;
}

.container_who_we_are_title {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 200px;
  margin-bottom: 83px;
}
.container_who_we_are_title .subtitle {
  width: 668px;
  height: 144px;
  margin-right: 158px;
}
.container_who_we_are_title .arrows {
  display: flex;
  gap: 16px;
}
.container_who_we_are_title img {
  width: 64px;
  height: 64px;
}

.container_who_we_are_years {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_who_we_are_years .years {
  display: flex;
  flex-direction: column;
  gap: 102px;
  margin-right: 155px;
}
.container_who_we_are_years .years h5 {
  color: #8B8B8B;
}
.container_who_we_are_years .img_computer2 {
  width: 970px;
  height: 610px;
}

.container_who_we_are_footer {
  display: flex;
  justify-content: space-between;
}
.container_who_we_are_footer .container_who_we_are_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 169px;
}
.container_who_we_are_footer .container_who_we_are_text .container_line_pink {
  display: flex;
  justify-content: space-between;
  width: 668px;
}
.container_who_we_are_footer .container_who_we_are_text .container_line_pink h3 {
  width: 468px;
  height: 80px;
}
.container_who_we_are_footer .container_who_we_are_text p {
  width: 468px;
  height: 96px;
  margin-left: 198px;
}
.container_who_we_are_footer .container_who_we_are_text button {
  margin-left: 198px;
}
.container_who_we_are_footer .container_28bigest {
  width: 402px;
  height: 402px;
  margin-top: 192px;
}
.container_who_we_are_footer .container_28bigest img {
  width: 245px;
  height: 239px;
}

.section_what_we_do {
  background-image: url(/images/section3/SERVICES.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2124px;
}
.section_what_we_do .container_what_we_do_02 {
  display: flex;
  align-items: center;
  padding-top: 152px;
  margin-bottom: 24px;
}
.section_what_we_do .container_what_we_do_02 .logoicon {
  margin-right: 176px;
}
.section_what_we_do .container_what_we_do_02 ol {
  display: flex;
  gap: 24px;
}
.section_what_we_do .container_what_we_do_02 ol li,
.section_what_we_do .container_what_we_do_02 ol h5 {
  color: #5468E7;
}
.section_what_we_do .container_what_we_do_title {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  gap: 158px;
}
.section_what_we_do .container_what_we_do_title h2 {
  width: 668px;
  height: 144px;
  color: #232340;
}
.section_what_we_do .container_what_we_do_title .arrows {
  display: flex;
  gap: 16px;
}
.section_what_we_do .container_what_we_do_title .arrows img {
  width: 64px;
}
.section_what_we_do .container_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
}
.section_what_we_do .container_cards .card {
  height: 480px;
}
.section_what_we_do .container_cards .selected {
  height: 560px;
}

.section_achievement_03 {
  display: flex;
  align-items: center;
}
.section_achievement_03 .container_cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_achievement_03 .container_cell .cell {
  padding-left: 100px;
  margin-top: 213px;
  background-image: url(/images/section3/Oval.png);
  background-position: center;
  background-repeat: no-repeat;
}
.section_achievement_03 .container_cell .points {
  width: 96px;
  height: 16px;
  margin-top: 80px;
  margin-left: 8px;
}
.section_achievement_03 .container_achievement_text {
  height: 494px;
  margin-left: 210px;
  margin-top: 104px;
}
.section_achievement_03 .container_achievement_text .container_achievement_header {
  display: flex;
  margin-bottom: 40px;
}
.section_achievement_03 .container_achievement_text .container_achievement_header .logoicon {
  width: 24px;
  height: 24px;
  margin-right: 75px;
}
.section_achievement_03 .container_achievement_text .container_achievement_header ol {
  display: flex;
  gap: 24px;
}
.section_achievement_03 .container_achievement_text .container_achievement_header ol h5 {
  color: #232340;
}
.section_achievement_03 .container_achievement_text .container_achievement_header .container_achievement_number {
  margin-top: 80px;
}

.section_famous_projects .container_famous_projects04 {
  display: flex;
  align-items: center;
}
.section_famous_projects .container_famous_projects04 .logoicon {
  margin-right: 176px;
}
.section_famous_projects .container_famous_projects04 ol {
  display: flex;
  gap: 24px;
}
.section_famous_projects .container_famous_projects04 ol li,
.section_famous_projects .container_famous_projects04 ol h5 {
  color: #5468E7;
}
.section_famous_projects .container_famous_title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 200px;
}
.section_famous_projects .container_famous_title h2 {
  font-size: 84px;
  color: #232340;
  line-height: 100.24px;
}
.section_famous_projects .container_famous_title button {
  width: 166px;
}
.section_famous_projects .our_partnerships {
  margin-top: 40px;
  margin-left: 200px;
  width: 467px;
}
.section_famous_projects .container_sec1 button {
  width: 166px;
  height: 40px;
  background: #908CFF;
  border-radius: 20px;
  border: none;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */